  button {
    background-color: black;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    border-radius: 4px;
    border-color: white;
    padding: 10px;
  }

  label {
    width: 100px;
    height: 100px;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    /* border-radius: 4px;
    border: none; */
    padding: 15px 32px;
    text-align: center;
  }

  p {
    display: block;
    color: orange;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
  }

  body {
    background-color: black;
  }

  option {
    background-color: white;
  }
  
  img {
    width: 25%;
    padding: 40px;
    margin: 0;
  }
  
  #title {
    color: orange;
  }
  
  form {
    padding: 30px;
    background-color: black;
  }
  
  iframe {
    width: 40%;
    height: 60%;
    padding: 80px;
    margin: 0;
  }

